*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    background-color: #f0f0f0;
     width: 700px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 4px solid #ddd;
    display: flex;
    gap: 40px
    ;
}
main{
   
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bolder;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    &:focus{
        border-color: #f71d1d;
        outline: none;
        box-shadow: 0 0 7px rgba(17,17,17,0.5);
    }
}

input[type="password"]::-ms-reveal{
    display: none;
}

input[type="submit"]{
     font-weight: bolder;
    padding: 15px 0;
    width: 50%;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(50%);
    &:hover{
        scale: 1.05;
        transition: ease-in-out;
        background-color: #383838;
       
    }
}
#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #111111;
    text-align: center;
    line-height: 130px;
    

}
#container{
    display: flex;
}
#taskList{
    margin-top: 20px;
    background-color: rgb(243, 220, 190);
    padding: 15px;
    border-radius: 16px;
    height: 300px;
}
#taskList li{
    margin-bottom: 30px;
    list-style-type: none;
}
 li:nth-child(1),li:nth-child(2),li:nth-child(3){
    text-decoration: line-through;
    &::before{
        content: "✓ ";
        color: green;
    }
}
.error{
    color: red;
}
.password{
    display: flex;
    
}
.password button{
    background-color: transparent;
    border: none;
    line-height: 50px;
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
    transform: translate(225px, -5px);
    font-size: 1.1em;
    position: fixed;
}